<div data-url="/Members/SummaryControl" class="largeNavigationItem largeNavigationItemSelected" style="float: left;">
    Summary
</div>
<div data-url="/Members/PersonalInfoControl" class="largeNavigationItem" style="float: left;">
    Communication
</div>
<div data-url="/Members/TransactionsControl" class="largeNavigationItem" style="float: left;">
    Transactions
</div>
<div data-url="/Members/DocumentsControl" class="largeNavigationItem" style="float: left;">
    Documents
</div>
<div style="clear: both;"></div>
