<div style="padding-left: 30px; padding-right: 15px;">
    <div style="">
        <img src="/Content/images/ledger.png" style="height: 128px;" />
    </div>
    <!-- top block -->
    <div style="border: solid 2px; width: 900px; height: 200px; margin-top: 12px; overflow: auto;">
        <table>
            <tr class="memberTransactionItem" data-transaction-id="1">
                <td style="width: 60px;">
                    <img src="/Content/images/Filetype-Text-icon-32.png" />
                </td>
                <td style="width: 160px;">Transaction 1</td>
                <td style="width: 100px;">2014-01-01</td>
                <td style="width: 80px;">Unread</td>
            </tr>
            <tr class="memberTransactionItem" data-transaction-id="2">
                <td>
                    <img src="/Content/images/Filetype-Text-icon-32.png" />
                </td>
                <td>Transaction 2</td>
                <td>2014-01-01</td>
                <td>Unread</td>
            </tr>
            <tr class="memberTransactionItem" data-transaction-id="3">
                <td>
                    <img src="/Content/images/Filetype-Text-icon-32.png" />
                </td>
                <td>Transaction 3</td>
                <td>2014-01-01</td>
                <td>Unread</td>
            </tr>
            <tr class="memberTransactionItem" data-transaction-id="4">
                <td>
                    <img src="/Content/images/Filetype-Text-icon-32.png" />
                </td>
                <td>Transaction 4</td>
                <td>2014-01-01</td>
                <td>Unread</td>
            </tr>
            <tr class="memberTransactionItem" data-transaction-id="5">
                <td>
                    <img src="/Content/images/Filetype-Text-icon-32.png" />
                </td>
                <td>Transaction 5</td>
                <td>2014-01-01</td>
                <td>Unread</td>
            </tr>
            <tr class="memberTransactionItem" data-transaction-id="6">
                <td>
                    <img src="/Content/images/Filetype-Text-icon-32.png" />
                </td>
                <td>Transaction 6</td>
                <td>2014-01-01</td>
                <td>Unread</td>
            </tr>
            <tr class="memberTransactionItem" data-transaction-id="7">
                <td>
                    <img src="/Content/images/Filetype-Text-icon-32.png" />
                </td>
                <td>Transaction 7</td>
                <td>2014-01-01</td>
                <td>Unread</td>
            </tr>
        </table>
    </div>
    <!-- bottom block -->
    <div id="MembersTransactionText" style="border: solid 2px; width: 900px; height: 300px; margin-top: 12px; overflow: auto;">
        <div style="margin-top: 12px; margin-left: 12px; font-style: italic; color: #808080;">&lt;Please click a transaction to see the transaction details.&gt;</div>
    </div>
    <div style="clear: both;"></div>
</div>
