@{
    ViewBag.Title = "FAQ";
}
<div style="height: 40px;">
    <h2>FAQ</h2>
</div>
<div style="float: left; margin-right: 58px; vertical-align: top; margin-top: 66px;">
    <img src="/Content/images/business-woman-faq.jpg" style="width: 332px;" />
</div>
<div style="margin-top: 12px; margin-bottom: 12px; font-size: 12pt; font-family: Calibri; width: 560px; text-align: justify; float: left; overflow: auto; height: 650px;">
    <span style="font-weight: bold;">General questions</span><br />
    •	How much should I invest?<br />
    •	What is an ETF?<br />
    •	What is your historical performance?<br />
    •	How do you protect the assets in my account?<br />
    •	What would happen to my account if you were to be acquired, go public or cease to do business?<br />
    •	When and how do you charge your fee from my account?<br />
    •	How do you calculate your fee?<br />
    <br />
    <span style="font-weight: bold;">
        Questionare and risk profile
    </span><br />
    •	How do you create the questionaire to determine my risk profile/score?<br />
    •	How do you pick ETF’s?<br />
    •	Why do you recommend the same ETF’s for everyone?<br />
    •	How often do you rebalance my portfolio?<br />
    <br />
    <span style="font-weight: bold;">
        Accounts
    </span><br />
    •	What type of account do you currently support?<br />
    •	Who can open an account with you?<br />
    •	What is the minimum amount required to invest with you?<br />
    •	Can I open multiple accounts?<br />
    •	Where is my money held?<br />
    •	Can I hold my account at any brokerage firm and still have you to manage it?<br />
    <br />
    <span style="font-weight: bold;">
        Funding
    </span><br />
    •	How do I fund my account?<br />
    •	When can I expect my money to be invested?<br />
    •	How do I deposit additional funds into my account?<br />
    <br />
    <span style="font-weight: bold;">
        Withdrawal
    </span><br />
    •	How do I make partial withdrawals from my account?<br />
    •	How do I close my account?<br />
    •	Mow long does it take to close my account?<br />
    •	What happens to my asset allocation when I withdraw funds?<br />
    <br />
    <span style="font-weight: bold;">
        Taxes
    </span><br />
    •	Do you help clients report taxes?<br />
    •	Where can I get my tax documents?<br />
    •	Do you take taxes into considaration when investing my accounts?<br />
</div>
<div style="clear: both;"></div>

