@{
    ViewBag.Title = "Methodology";
}

<div style="height: 40px;">
    <h2>Methodology</h2>
</div>
<div style="margin-top: 12px; margin-bottom: 12px; font-size: 12pt; font-family: Calibri; width: 600px; text-align: justify; float: left;">
    Exchange Traded Funds (ETFs) have revolutionaized the fund management industry during the last 20 years. From their inception in 1993 the ETFs under management have grown to a dazzling 1,700 billion US Dollars in 2014, already over one-tenth of the 300 year old mutual fund industry with a total of about 13,000 billion dollars under management. During the last 13 years we have witnessed a remarkable growth of 2000% in the size of ETFs. The popularity of ETFs is partly due to extremely low costs of management and partly due to flexibility they offer the investor for trading on an exchange, like normal stocks. Besides, the variety of ETFs available in the market accomodates any investment strategy with any level of risk/return trade-off.
    <br/><br />
    But cautiousness is needed when investing in ETFs. The number of ETFs traded on major exchanges today is over 3500 and among them are unfortunately a considerable number of so called junk ETFs that investors should keep away from. Our data driven selection procedure is divided into three distinct steps:
    <br /><br />
    1- Norrow down: based on a number of due dilligence criteria, such as liquidity, expense ratio, quality and history of underlying index, tracking error, etc. we narrow down our search to 300-400 ETFs, called our positive investment universe.
    <br/>
    2- Clustering: the ETFs chosen in the positive investment list are then grouped into 2-8 clusters based on a correlation criteria. The clusters are as uncorrelated as possible.
    <br />
    3- Selection: Each cluster is made up of several highly correlated ETFs, so we pick one or more ETFs from each cluster based on criteria such as highest momentum, best trend, high sharpe ratio or just being the most representative of the cluster.
    <br />
    4- Optimization: we can as an extra step find an optimal portfolio of ETFs from a final 20-25 ETFs based on their expected future risk/return trade-off and our thoroughly tested scenario based optimization models.
    <br /><br />
    It is not always necessary to go through all the four steps. Most strategies based on the first three steps may work perfectly well in practice, where step four is specially interesting for the more experienced investor or an investor following a few different strategies.
    <br /><br />
    No matter what your investment philosophy is, out strategies provide a solid benchmark you can try to beat before ignoring them as irellevant. After all investment is all about getting as much return as possible (after costs) for a given level of risk. If you can't beat us, join us.
</div>
<div style="float: left; margin-left: 22px; vertical-align: top; margin-top: 26px;">
    <img src="/Content/images/business-woman-formula.jpg" style="width: 332px;" />
</div>
<div style="clear: both;"></div>
