<div id="MembersPersonalInfoDiv" style="border: solid 2px; border-radius: 6px; width: 856px; height: 170px; margin-top: 12px;">
    <div style="float: left; margin-top: 12px;">
        <img src="/Content/images/Users-Folder-Black-icon-128.png" />
    </div>
    <div style="width: 300px; height: 160px; margin-top: 12px; margin-left: 12px; overflow: auto; float: left;">
        <table>
            <tr>
                <td>
                    Full Name:
                </td>
                <td><input type="text" id="tbFullName" value="" /></td>
            </tr>
            <tr>
                <td>
                    Address Line:
                </td>
                <td><input type="text" id="tbAddressLine" value="" /></td>
            </tr>
            <tr>
                <td>
                    City:
                </td>
                <td><input type="text" id="tbCity" value="" /></td>
            </tr>
            <tr>
                <td>
                    Zip Code:
                </td>
                <td><input type="text" id="tbZipCode" value="" /></td>
            </tr>
        </table>
    </div>
    <div style="width: 300px; height: 160px; margin-top: 12px; margin-left: 12px; overflow: auto; float: left;">
        <table>
            <tr>
                <td>
                    Country:
                </td>
                <td><input type="text" id="tbCountry" value="" /></td>
            </tr>
            <tr>
                <td>
                    Phone Number:
                </td>
                <td><input type="text" id="tbPhoneNumber" value="" /></td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td><input type="text" id="tbEmail" value="" /></td>
            </tr>
        </table>
    </div>
    <div style="clear: both;"></div>
</div>
