<!-- This JavaScript method should be called to update controls function TradeControl_Update()-->
<!--$("#btnMemberSavePersonalInfo").click(function () { MembersSavePersonalInfo(); })-->
<!-- #MembersPersonalInfoDiv -->
<div style="font-size: 34pt; font-weight: bold; font-style: italic; margin-bottom: 14px;">Your portfolio</div>
<div id="final-pie-chart-container" style="width: 450px; height: 350px; margin: 2px; float: left;">
</div>
<div style="float: left; margin-left: 80px;">
    <div id="final-asset-allocation-table" style="margin-top: 80px;">
    </div>
</div>
<div style="clear: both;"></div>
<div style="margin-top: 14px; width: 400px;">
    Above you will find your portfolio, please press submit to submit your recommended portfolio, your MiFID score and your sign up information.
</div>
<div id="signUpAndSubmitLowerDiv" style="margin-top: 12px;">
    <div id="btnSingupAndSubmit" class="button">Submit</div>
</div>
