@using OpusMagus.WizardManager

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pbViewDisclaimer").click(function () { window.location.href = "/Home/BetaDisclaimer"; });
            //$("#pbViewDisclaimer").click(function () { window.location.href = "/Home/Mifid"; });
            //pbViewDisclaimer
            //getRDataAsync(80, 5, PopulateHistoricalPerformanceChart);
        });
    </script>
}

@{
    ViewBag.Title = "BetterWealthSolution - Value Cases";
}

<div style="height: 40px;">
    <h2>Value Cases</h2>
</div>
<div style="margin-top: 24px; margin-bottom: 12px; width: 670px; float: left; border: none;">
    
    <table class="textTable">
        <tr>
            <td class="cellTextHeading">Examples</td>
            <td class="cellText">Value Cases for financial institutions and investment companies</td>
        </tr>
        <tr>
            <td colspan="2" style="height: 20px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="cellTextHeading">Automated&nbsp;ETF asset allocation</td>
            <td class="cellText">Get the full revenue and cost-cut potential by launching automated platform for onboarding of new clients and efficient management of data-driven investments</td>
        </tr>
        <tr>
            <td colspan="2" style="height: 20px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="cellTextHeading">’Core-Sattelite’</td>
            <td class="cellText">Leverage your reach! Get our online platform to support distribution and efficient asset allocation of your investment funds</td>
        </tr>
        <tr>
            <td colspan="2" style="height: 20px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="cellTextHeading">’Efficient Mass-market investments’</td>
            <td class="cellText">Increasing profitability and cost-efficiency by automating your investment offering for the ’low-end’ segments in your client base</td>
        </tr>
        <tr>
            <td colspan="2" style="height: 20px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="cellTextHeading">’End-user Value Proposition’</td>
            <td class="cellText">Follow your customers online and tap into a new value proposition: (i). Low cost, (ii) high risk-adjusted performance, (iii) digital convenience, (iv) personalized investments, (v) optimal risk-diversification and (vi) coherent investment approach</td>
        </tr>
        <tr>
            <td colspan="2" style="height: 20px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="cellTextHeading">’Model for small not cost-efficient pension accounts’</td>
            <td class="cellText">Little drops of water make a mighty ocean. Growing your business by offering a fully automated, data-driven and digital solution for the purpose of revitalizing small pension accounts</td>
        </tr>
        <tr>
            <td colspan="2" style="height: 20px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="cellTextHeading">Freemium solution</td>
            <td class="cellText">Attract the young and tech savvy! Cost-free (or low cost) solution for young and tech savvy customers with small savings.</td>
        </tr>
    </table>

    <div id="pbViewDisclaimer" class="pushButton" style="margin-top: 20px;">Demo</div>
</div>
<div style="float: left; width: 240px; margin-left: 20px; margin-top: 40px;">
    <img src="~/Content/images/Business-Woman-Hairstyles-Image.jpg" style="width: 240px;" /></div>
<div style="clear: both;"></div>